body {
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrap {
    background-color: #F5ECEC;
    display: flex;
    gap: 15px;
    padding: 30px 30px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}